<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    <div bgcolor="#F4F4F4"
        style="font-family:Helvetica,Helvetica,Arial,sans-serif;height:100%;margin:0px;padding:0px;width:100%!important;color:rgb(51,51,51)">

        <table bgcolor="#F4F4F4" border="0" cellpadding="0" cellspacing="0" width="100%"
            style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px;padding:0px;border-spacing:0px!important;color:rgb(51,51,51)">
            <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                <tr style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">

                    <td
                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                    </td>

                    <td
                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px auto;padding:0px;display:block!important;max-width:600px!important;clear:both!important;color:rgb(51,51,51)">
                        <div
                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;max-width:600px;display:block;margin:0px auto;padding:15px;color:rgb(51,51,51)">
                            <table bgcolor="#F4F4F4" border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px;padding:0px;border-spacing:0px!important;color:rgb(51,51,51)">
                                <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                                    <tr
                                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                                        <td style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:2px;color:rgb(51,51,51)"
                                            align="center"><img src="https://i.ibb.co/xDGxkj9/Logo-1.png"
                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;max-width:100%;margin:0px;padding:0px;max-height:46px!important;color:rgb(51,51,51)"
                                                class="CToWUd" data-bit="iit"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>

                    <td
                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                    </td>

                </tr>
            </tbody>
        </table>



        <table bgcolor="#FFFFFF"
            style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px;padding:0px;border-spacing:0px!important;color:rgb(51,51,51)">



            <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                <tr style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">

                    <td
                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                    </td>

                    <td
                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px auto;padding:0px;display:block!important;max-width:600px!important;clear:both!important;color:rgb(51,51,51)">

                        <div id="m_-4016138745660856106m_-3744273556194086029m_457335852757593983m_-6001893520956889416template-border"
                            bgcolor="#FFFFFF"
                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;max-width:600px;display:block;margin:0px auto;padding:15px;background-color:rgb(255,255,255);color:rgb(51,51,51)">



                            <h1 style="display:block;font-family:&quot;Bree Serif&quot;,Helvetica;font-size:26px;font-style:normal;font-weight:normal;line-height:100%;letter-spacing:normal;margin:0px 0px 10px;padding:0px;color:rgb(32,32,32)"
                                align="left">

                                STUDENT's Report</h1>



                            <h3 style="display:block;font-family:Helvetica;font-size:16px;font-style:italic;font-weight:normal;line-height:100%;letter-spacing:normal;margin:0px 0px 20px;padding:0px;color:rgb(96,96,96)"
                                align="left">

                                DATE

                            </h3>











                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px 0px 20px;padding:0px;border-spacing:0px!important;color:rgb(51,51,51)">

                                <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                                    <tr
                                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">

                                        <td
                                            style="border-top-width:1px;border-top-style:solid;line-height:0;font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border-top-color:rgb(204,204,204);color:rgb(51,51,51)">
                                            &nbsp;</td>

                                    </tr>

                                </tbody>
                            </table>







                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                id="m_-4016138745660856106m_-3744273556194086029m_457335852757593983m_-6001893520956889416templateColumns"
                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px;padding:0px;border-spacing:0px!important;color:rgb(51,51,51)">

                                <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                                    <tr
                                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">

                                        <td align="center" width="48%" valign="top"
                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">



                                            <table border="0" cellpadding="20" cellspacing="0" width="100%"
                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px;padding:0px;border-spacing:0px!important;color:rgb(51,51,51)">

                                                <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                                                    <tr
                                                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">

                                                        <td style="font-family:Helvetica;font-size:14px;line-height:150%;margin:0px;padding:0px;color:rgb(80,80,80)"
                                                            align="left">























                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>

                                        </td>



                                        <td width="4%"
                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                                        </td>



                                        <td align="center" width="48%" valign="top"
                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">



                                            <table border="0" cellpadding="20" cellspacing="0" width="100%"
                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px;padding:0px;border-spacing:0px!important;color:rgb(51,51,51)">

                                                <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                                                    <tr
                                                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">

                                                        <td
                                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                                                            <h4
                                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;line-height:1.1;font-weight:bold;font-size:23px;margin:0px 0px 15px;padding:0px;color:rgb(50,161,172)">
                                                                Activities</h4>
                                                            <div
                                                                style="display:flex;flex-direction:row !important;align-items:center !important;gap:8px !important;">
                                                                <img height="32px" width="32px"
                                                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCoxPQxE0VlBP06zwHeHYAXU-46vs_-ux7w9AdimIIUw&s"
                                                                    alt="Video Icon" style="margin: 10px;" />
                                                                <a style="cursor: pointer;padding: 10px;"
                                                                    href="VIDEO_URL">video-2024-05-27-18-34-59.mp4</a>
                                                            </div>
                                                            <div id="m_-4016138745660856106m_-3744273556194086029m_457335852757593983m_-6001893520956889416e1892947523"
                                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;margin:0px;padding:0px;color:rgb(51,51,51)">
                                                                <!-- <div
 style="white-space:pre-line;font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;margin:0px 0px 18px;padding:0px;color:rgb(51,51,51)">
 • </div> -->
                                                            </div>







                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>





                            <br
                                style="font-family:&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;color:#333;margin:0;padding:0">



                            <br
                                style="font-family:&quot;Helvetica&quot;,Helvetica,Arial,sans-serif;color:#333;margin:0;padding:0">

                            <div
                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;margin:0px;padding:0px;color:rgb(51,51,51)">



                                <div style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;margin:0px;padding:0px;background-color:rgb(245,245,245);color:rgb(51,51,51)"
                                    align="center">

                                    <div style="display:-webkit-box;font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;margin:0px;padding:0px;background-color:rgb(75,155,160);color:rgb(51,51,51)"
                                        align="center">

                                        <h3
                                            style="font-size:20px;font-weight:100;font-family:Helvetica,Helvetica,Arial,sans-serif;line-height:1.1;margin:10px;padding:0px;color:white">
                                            Download Now</h3>

                                    </div>

                                    <div
                                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;margin:0px auto;padding:10px;color:rgb(51,51,51)">

                                        <div
                                            style="display:inline-block;zoom:1;font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;vertical-align:middle;margin:0px 10px 0px 0px;padding:0px;color:rgb(51,51,51)">

                                            <img src="https://ci3.googleusercontent.com/meips/ADKq_Nbh1d0q9mjKqUlIvv0IYYpTa2PQgY4Qodc-t1UyxTclvMY8yT6A0Ig0KZw42qNDU5B7I1N1qxRwTW4Nqx4YtYw9HXuk19Fk270swphYSiXc=s0-d-e1-ft#https://s3.amazonaws.com/himama2/images/Parent_App_300.png"
                                                width="150"
                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;max-width:100%;width:150px;display:block;margin:10px auto;padding:0px;color:rgb(51,51,51)"
                                                class="CToWUd a6T" data-bit="iit" tabindex="0">
                                            <div class="a6S" dir="ltr"
                                                style="opacity: 0.01; left: 460.547px; top: 709.297px;"><span
                                                    data-is-tooltip-wrapper="true" class="a5q"
                                                    jsaction="JIbuQc:.CLIENT"><button
                                                        class="VYBDae-JX-I VYBDae-JX-I-ql-ay5-ays CgzRE"
                                                        jscontroller="PIVayb"
                                                        jsaction="click:h5M12e; clickmod:h5M12e;pointerdown:FEiYhc;pointerup:mF5Elf;pointerenter:EX0mI;pointerleave:vpvbp;pointercancel:xyn4sd;contextmenu:xexox;focus:h06R8; blur:zjh6rb;mlnRJb:fLiPzd;"
                                                        data-idom-class="CgzRE" jsname="hRZeKc"
                                                        aria-label="Download attachment " data-tooltip-enabled="true"
                                                        data-tooltip-id="tt-c18" data-tooltip-classes="AZPksf" id=""
                                                        jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc5ODkyODcxNjY5NTc5ODA4MSJd; 43:WyJpbWFnZS9qcGVnIl0."><span
                                                            class="OiePBf-zPjgPe VYBDae-JX-UHGRz"></span><span
                                                            class="bHC-Q" data-unbounded="false" jscontroller="LBaJxb"
                                                            jsname="m9ZlFb" soy-skip="" ssk="6:RWVI5c"></span><span
                                                            class="VYBDae-JX-ank-Rtc0Jf" jsname="S5tZuc"
                                                            aria-hidden="true"><span class="bzc-ank"
                                                                aria-hidden="true"><svg height="20"
                                                                    viewBox="0 -960 960 960" width="20"
                                                                    focusable="false" class=" aoH">
                                                                    <path
                                                                        d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z">
                                                                    </path>
                                                                </svg></span></span>
                                                        <div class="VYBDae-JX-ano"></div>
                                                    </button>
                                                    <div class="ne2Ple-oshW8e-J9" id="tt-c18" role="tooltip"
                                                        aria-hidden="true">Download</div>
                                                </span></div>

                                        </div>

                                        <div
                                            style="display:inline-block;zoom:1;font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;vertical-align:middle;margin:0px;padding:0px;color:rgb(51,51,51)">

                                            <div
                                                style="display:none;zoom:1;font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;vertical-align:middle;margin:0px;padding:0px;color:rgb(51,51,51)">

                                                <div
                                                    style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;margin:0px;padding:0px;color:rgb(51,51,51)">

                                                    <h4 style="font-family:Helvetica,Helvetica,Arial,sans-serif;line-height:1.1;font-weight:bold;font-size:23px;margin:0px 10px 15px;padding:0px;color:rgb(51,51,51)"
                                                        align="center">Download Now

                                                    </h4>

                                                </div>

                                            </div>

                                            <div
                                                style="display:inline-block;zoom:1;font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;vertical-align:middle;margin:0px;padding:0px;color:rgb(51,51,51)">

                                                <a href="https://play.google.com/store/apps/details?id=com.himama.educator"
                                                    style="font-family:Helvetica,Helvetica,Arial,sans-serif;text-decoration:underline;margin:0px;padding:0px;color:rgb(6,122,130)"
                                                    rel="noreferrer noreferrer" target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.himama.educator&amp;source=gmail&amp;ust=1715678518176000&amp;usg=AOvVaw3DhhSU0CE0qTs7-cWemd40">

                                                    <div style="border-radius:5px;font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;width:100px;margin:0px;padding:5px;background-color:rgb(52,185,198);color:rgb(51,51,51)"
                                                        align="center"
                                                        jslog="32272; 1:WyIjdGhyZWFkLWY6MTc5ODkyODcxNjY5NTc5ODA4MSJd; 4:WyIjbXNnLWY6MTc5ODkyODcxNjY5NTc5ODA4MSJd">

                                                        <img src="https://ci3.googleusercontent.com/meips/ADKq_Nau9bn9loMGK-JWezmGyrlhrYoJwbmleAlQ1IidAk0KomEQD1Y7ev686AzN3MJqILg6e5xhnn0Q0wGH8lFTMnF9DFEbNhPgn5Jn7AInDJ_yXnK2=s0-d-e1-ft#https://s3.amazonaws.com/himama2/icons/email/android-logo.png"
                                                            width="30"
                                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;max-width:100%;height:30px;vertical-align:middle;display:inline-block;margin:0px;padding:0px;color:rgb(51,51,51)"
                                                            class="CToWUd" data-bit="iit">

                                                        <p
                                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;font-size:14px;line-height:1.6;display:inline-block;margin:0px;padding:0px;color:white">
                                                            Android</p>

                                                    </div>

                                                </a>

                                                <a href="https://itunes.apple.com/ca/app/himama-the-childcare-app/id1098305044"
                                                    style="font-family:Helvetica,Helvetica,Arial,sans-serif;text-decoration:underline;margin:0px;padding:0px;color:rgb(6,122,130)"
                                                    rel="noreferrer noreferrer" target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://itunes.apple.com/ca/app/himama-the-childcare-app/id1098305044&amp;source=gmail&amp;ust=1715678518176000&amp;usg=AOvVaw3up-DmV5atkmqZCTvZ0Haj">

                                                    <div style="border-radius:5px;font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;width:100px;margin:5px 0px 0px;padding:5px;background-color:rgb(16,135,144);color:rgb(51,51,51)"
                                                        align="center">

                                                        <img src="https://ci3.googleusercontent.com/meips/ADKq_Nb-hRapTLlrovoD5HiizRAZQXTguDexb4M4nR0vEhQawC78dI78gzN7FdvtCTZm-jas5iVw9-jd3y_jbBUHuzcKoTscMsZ38wq13cA=s0-d-e1-ft#https://s3.amazonaws.com/himama2/icons/email/apple.png"
                                                            width="30"
                                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;max-width:100%;height:30px;vertical-align:middle;display:inline-block;margin:0px;padding:0px;color:rgb(51,51,51)"
                                                            class="CToWUd" data-bit="iit"
                                                            jslog="32272; 1:WyIjdGhyZWFkLWY6MTc5ODkyODcxNjY5NTc5ODA4MSJd; 4:WyIjbXNnLWY6MTc5ODkyODcxNjY5NTc5ODA4MSJd">

                                                        <p
                                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:bold;font-size:14px;line-height:1.6;display:inline-block;margin:0px;padding:0px;color:white">
                                                            Apple</p>

                                                    </div>

                                                </a>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </td>

                    <td
                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                    </td>

                </tr>

            </tbody>
        </table>

        <table bgcolor="#429196"
            style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px;padding:0px;border-spacing:0px!important;clear:both!important;color:rgb(51,51,51)">
            <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                <tr style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">

                    <td
                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                    </td>

                    <td
                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px auto;padding:0px;display:block!important;max-width:600px!important;clear:both!important;color:rgb(51,51,51)">
                        <div
                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;max-width:600px;display:block;margin:0px auto;padding:15px;color:rgb(51,51,51)">
                            <table
                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px;padding:0px;border-spacing:0px!important;color:rgb(51,51,51)">

                                <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                                    <tr
                                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                                        <td
                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">

                                            <div
                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;margin:0px 0px 8px;padding:0px;color:rgb(51,51,51)">
                                                Forgot your password? <a
                                                    href="https://himama.com/users/password/new?utm_campaign=updates_mailer&amp;utm_content=childcare_daily_report&amp;utm_medium=email&amp;utm_source=ses"
                                                    style="font-family:Helvetica,Helvetica,Arial,sans-serif;text-decoration:underline;margin:0px;padding:0px;color:rgb(232,208,105)"
                                                    rel="noreferrer noreferrer" target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://himama.com/users/password/new?utm_campaign%3Dupdates_mailer%26utm_content%3Dchildcare_daily_report%26utm_medium%3Demail%26utm_source%3Dses&amp;source=gmail&amp;ust=1715678518176000&amp;usg=AOvVaw2bkEog1bQuVC2J0_IKV5DR">Reset
                                                    it »</a>

                                            </div>

                                            <div
                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;margin:0px 0px 8px;padding:0px;color:rgb(51,51,51)">

                                                <span
                                                    style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">Communicate
                                                    with your center by </span><a
                                                    href="https://support.himama.com/s/article/How-to-send-a-message-to-the-center"
                                                    style="font-family:Helvetica,Helvetica,Arial,sans-serif;text-decoration:underline;margin:0px;padding:0px;color:rgb(232,208,105)"
                                                    rel="noreferrer noreferrer" target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://support.himama.com/s/article/How-to-send-a-message-to-the-center&amp;source=gmail&amp;ust=1715678518176000&amp;usg=AOvVaw2zDVy-B3MMrwIoPel3toDc">sending
                                                    a message through the Parent App</a><span
                                                    style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">.</span>

                                            </div>

                                            <div
                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;margin:0px 0px 8px;padding:0px;color:white">
                                                This email has been distributed by <a
                                                    href="https://himama.com?utm_campaign=updates_mailer&amp;utm_content=childcare_daily_report&amp;utm_medium=email&amp;utm_source=ses"
                                                    style="font-family:Helvetica,Helvetica,Arial,sans-serif;text-decoration:underline;margin:0px;padding:0px;color:rgb(232,208,105)"
                                                    rel="noreferrer noreferrer" target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://himama.com?utm_campaign%3Dupdates_mailer%26utm_content%3Dchildcare_daily_report%26utm_medium%3Demail%26utm_source%3Dses&amp;source=gmail&amp;ust=1715678518176000&amp;usg=AOvVaw3you1juvrPeo1k7TEJffcH">HiMama</a>

                                            </div>

                                            <table
                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;width:100%;margin:0px;padding:0px;border-spacing:0px!important;color:rgb(51,51,51)">
                                                <tbody style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                                                    <tr
                                                        style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                                                        <td
                                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                                                            <div
                                                                style="font-family:Helvetica,Helvetica,Arial,sans-serif;font-size:12px;font-weight:normal;margin:0px;padding:0px;color:white">
                                                                <a style="font-family:Helvetica,Helvetica,Arial,sans-serif;text-decoration:underline;margin:0px;padding:0px;color:rgb(85,85,85)"
                                                                    href="https://himama.com/users/settings?utm_campaign=updates_mailer&amp;utm_content=childcare_daily_report&amp;utm_medium=email&amp;utm_source=ses"
                                                                    rel="noreferrer noreferrer" target="_blank"
                                                                    data-saferedirecturl="https://www.google.com/url?q=https://himama.com/users/settings?utm_campaign%3Dupdates_mailer%26utm_content%3Dchildcare_daily_report%26utm_medium%3Demail%26utm_source%3Dses&amp;source=gmail&amp;ust=1715678518176000&amp;usg=AOvVaw0BRiULV_Mh6UAQsaYPbyJW">Email
                                                                    Preferences</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>

                                    <tr style="font-family:Helvetica,Helvetica,Arial,sans-serif">
                                        <td
                                            style="font-family:Helvetica,Helvetica,Arial,sans-serif;margin:0px;padding:0px;color:rgb(51,51,51)">
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="yj6qo"></div>
        <div class="adL">

        </div>
    </div>

</body>

</html>